<odoo>
    <data>
        <!-- Top menu item -->
        <menuitem name="BAR MANOLO" id="bar_app.menu_root" web_icon="bar_app,static/description/icon.png"/>

        <!-- menu categories -->
        <menuitem name="Inventory" id="bar_app.menu_inventory" parent="bar_app.menu_root" />
        <menuitem name="Category" id="bar_app.menu_category" parent="bar_app.menu_root" />
        <menuitem name="Order" id="bar_app.menu_order" parent="bar_app.menu_root" />
        <menuitem name="Table" id="bar_app.menu_table" parent="bar_app.menu_root" />
        <menuitem name="Invoice" id="bar_app.menu_invoice" parent="bar_app.menu_root" />

        <!-- actions -->
        <menuitem name="List Product" id="bar_app.menu_product_list" parent="bar_app.menu_inventory" action="bar_app.action_window_product_list" />
        <menuitem name="List Ingredient" id="bar_app.menu_ingredient_list" parent="bar_app.menu_inventory" action="bar_app.action_window_ingredient_list" />
        <menuitem name="List Category" id="bar_app.menu_category_list" parent="bar_app.menu_category" action="bar_app.action_window_category_list" />
        <menuitem name="List Orders" id="bar_app.menu_order_list" parent="bar_app.menu_order" action="bar_app.action_window_order_list" />
        <menuitem name="List Line" id="bar_app.menu_line_list" parent="bar_app.menu_order" action="bar_app.action_window_line_list" />
        <menuitem name="List Table" id="bar_app.menu_table_list" parent="bar_app.menu_table" action="bar_app.action_window_table_list" />
        <menuitem name="List Invoice" id="bar_app.menu_invoice_list" parent="bar_app.menu_invoice" action="bar_app.action_window_invoice_list" />
        <menuitem name="List Line Invoice" id="bar_app.menu_line_invoice_list" parent="bar_app.menu_invoice" action="bar_app.action_window_line_invoice_list" />
    </data>
</odoo>